<div class="container">
  <div class="formWithNav">
    <gt-form-switcher></gt-form-switcher>
    <form *ngIf="formGroup" [formGroup]="formGroup">
      <mat-form-field id="loginField">
        <mat-label>Login/E-mail</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input formControlName="password" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input formControlName="repeatPassword" matInput />
      </mat-form-field>

      <div class="buttonAndError">
        <p>{{ errorMessage }}</p>
        <button (click)="onFormSubmit()" mat-raised-button color="primary">
          Zarejestruj
        </button>
      </div>
    </form>
  </div>
</div>
<img id="background" src="../../../../assets/AdobeStock_265997832.jpeg" />
