




.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  

  background-color: #303030;

  width: 45%;
  height: 45%;

}

.formWithNav {
  width: 43%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loginAndReset {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.resetLink {
  text-align: right;
}
form {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 12%;
}

.buttonAndError {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 2rem;
}



#background {

    object-fit: fill;
    width: 100vw;
    height: 100vh;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
    position: absolute;
}
